.item {
  display: flex;
  gap: 20px;
}

.picture {
  width: 150px;
  height: auto;
}
.cardcontent {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.quantity {
  display: flex;
  gap: 10px;
}
